
<div #scrollMe>
  <section class="w-full h-screen bg-primarycolor overflow-hidden">
    <div class="relative flex items-center justify-center w-full h-full text-white text-6xl ">
      <img [src]="banner" alt="banner" class="object-cover h-screen w-full">
      <div class="absolute flex flex-col items-center bg-[rgba(34,34,34,0.5)] justify-center w-full h-full text-white text-3xl sm:text-4xl md:text-[4rem]">
        <h1 class="w-[20rem] sm:w-[25rem] md:w-[45rem] text-center tracking-wider leading-tight font-medium">LíDERES EN CALIDAD DE CONSTRUCCION E INFRAESTRUCTURA</h1>
        <a href="#servicios" class="pt-14 z-10">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" class="animate-bounce w-12 h-12 rounded-full p-0.5 text-white font-bold">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
          </svg>
        </a>
      </div>
      <div class="absolute flex justify-center w-full h-full text-white text-xl lg:text-6xl pt-10  px-5 md:px-20">
          <div class="fixed top-0 z-50 w-full flex items-center justify-between h-24 px-5 lg:mx-20 bg-[rgba(34,34,34,0.75)] shadow-xl shadow-white/20 overflow-hidden">
            <div class="text-white h-fit">
              <p>Construct Civil</p>
            </div>
            <nav class="h-fit">
              <ul class="hidden md:flex lg:gap-10 text-black text-xs md:text-base">
                <li><a class="text-white px-4 py-1 hover:bg-white/50 tracking-widest" href="#servicios">Servicios</a></li>
                <li><a class="text-white px-4 py-1 hover:bg-white/50 tracking-widest" href="#proyectos">Proyectos</a></li>
                <!-- <li><a class="text-white px-4 py-1 hover:bg-white/50 tracking-widest" href="#contactos">Contactos</a></li> -->
                <li><a class="text-white px-4 py-1 hover:bg-white/50 tracking-widest" href="#nosotros">Quienes somos</a></li>
              </ul>
            </nav>
          </div>
        </div>
    </div>
  </section>

  <section id="servicios" class="w-full h-full bg-white mb-16">
    <div class="text-center text-primarycolor text-4xl md:text-6xl py-12 font-medium">
      <span class="border-b-8 border-secondarycolor" style="line-height: 25px; font-weight: 700;">SERVICIOS</span>
    </div>

    <div class="container mx-auto px-10 md:px-0">
      <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-8">
        @for (servicio of servicios; track servicio) {
          <div class="rounded-2xl flex justify-center border border-gray-300 bg-gray-50 hover:shadow-md hover:shadow-secondarycolor/50">
            <div class="flex-col w-full">
              <div class="flex justify-center">
                <img [src]="servicio.imagen" class="rounded-b-2xl" alt="Imagen-servicio">
              </div>
              <div class="text-center px-6 pt-5">
                <p class="text-xl font-semibold">{{servicio.titulo}}</p>
              </div>
              <div class="overflow-hidden flex justify-start items-end gap-6 py-2 text-gray-500">

                <ul class="text-black text-sm">
                  @for (item of servicio.items; track item) {
                    <li class="flex gap-2 px-6 py-1 hover:bg-white/50 tracking-widest">
                      <span class="mt-1.5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="w-2 h-2">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                          <path d="M7 3.34a10 10 0 1 1 -4.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 4.995 -8.336z" />
                        </svg>
                      </span>
                      {{item.subtitulo}}</li>
                  }
                </ul>

              </div>
          </div>
          </div>
        }
      </div>
    </div>
  </section>

  <section id="nosotros" class="w-full h-full bg-white">
    <div class="grid grid-cols-1 lg:grid-cols-2 h-full">
      <div class="relative flex items-end px-4 pb-10 pt-60 sm:pb-16 md:justify-center lg:pb-24 bg-gray-50 sm:px-6 lg:px-8">
        <div class="absolute inset-0">
            <img class="object-contain md:object-cover w-full h-full" src="./assets/architect.jpg" alt="image" />
        </div>
        <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent"></div>

        <!-- <div class="relative">
          <div class="w-full max-w-xl xl:w-full xl:mx-auto xl:pr-24 xl:max-w-xl">
            <p class="text-4xl font-bold text-white">La topografía con <br class="hidden xl:block" />drones</p>
            <ul class="grid grid-cols-1 mt-10 sm:grid-cols-2 gap-x-8 gap-y-4">
              <li class="flex items-center space-x-3">
                <div class="inline-flex items-center justify-center flex-shrink-0 w-5 h-5 bg-blue-500 rounded-full">
                  <svg class="w-3.5 h-3.5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                  </svg>
                </div>
                <span class="text-lg font-medium text-white"> 10+ Posgrados </span>
              </li>
              <li class="flex items-center space-x-3">
                <div class="inline-flex items-center justify-center flex-shrink-0 w-5 h-5 bg-blue-500 rounded-full">
                  <svg class="w-3.5 h-3.5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                  </svg>
                </div>
                <span class="text-lg font-medium text-white"> Desarrollo profesional </span>
              </li>
            </ul>
          </div>
        </div> -->
      </div>

      <div class="h-full flex items-center justify-center px-4 py-10 bg-gray-100 sm:px-6 lg:px-8">
        <div class="w-full xl:max-w-3xl xl:mx-auto">
          <!-- <p class="text-3xl font-bold leading-tight text-black sm:text-4xl">Nosotros</p> -->
          <div>
            <div class="py-7">
              <span class="border-b-8 border-secondarycolor text-primarycolor text-xl sm:text-2xl md:text-4xl" style="line-height: 25px; font-weight: 700;">Quienes Somos</span>
            </div>

            <div>
              <p class="container text-justify text-sm md:text-base">Construct civil es una empresa líder en ingeniería civil comprometida con la excelencia y la innovación en el diseño y desarrollo de infraestructuras. Con años de experiencia en el sector, ofrecemos una amplia gama de servicios especializados que abarcan todas las etapas de los proyectos de construcción y desarrollo urbano. Nuestro equipo de ingenieros altamente capacitados y dedicados trabaja para proporcionar soluciones eficientes y sostenibles que cumplen con las necesidades y expectativas de nuestros clientes.</p>
            </div>
          </div>
          <!-- <p class="text-3xl font-bold leading-tight text-black sm:text-4xl">Nuestra Misión</p> -->
          <div>
            <div class="py-7">
              <span class="border-b-8 border-secondarycolor text-primarycolor text-xl sm:text-2xl md:text-4xl" style="line-height: 25px; font-weight: 700;">Nuestra Misión</span>
            </div>
            <div>
              <p class="container text-justify text-sm md:text-base">Nuestra misión es transformar ideas en realidades tangibles a través de soluciones de ingeniería innovadoras y sostenibles. Nos esforzamos por ser un socio de confianza para nuestros clientes, brindando servicios de alta calidad que contribuyen al desarrollo y bienestar de las comunidades.</p>
            </div>
          </div>

          <div>
            <div class="py-7">
              <span class="border-b-8 border-secondarycolor text-primarycolor text-xl sm:text-2xl md:text-4xl" style="line-height: 25px; font-weight: 700;">Compromiso con la Excelencia</span>
            </div>
            <div>
              <p class="container text-justify text-sm md:text-base">En Construct civil, estamos comprometidos con la excelencia en cada proyecto que emprendemos. Nuestra prioridad es la satisfacción del cliente, la calidad de nuestras obras y el impacto positivo en las comunidades donde operamos. Trabajamos con integridad y profesionalismo para superar las expectativas y construir un futuro mejor. Contáctanos hoy para conocer más sobre cómo podemos ayudarte a transformar tu visión en realidad.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:col-span-2 h-full bg-secondarycolor text-primarycolor flex justify-center py-5">
        <div class="flex flex-col px-4 w-56 justify-center items-center hover:bg-primarycolor/10 transition-all ease-in-out duration-500">
          <div class="font-semibold text-sm sm:text-lg md:text-6xl">2003</div>
          <div class="text-[0.6rem] sm:text-xs md:text-lg font-medium text-center">Año de establecimiento</div>
        </div>
        <div class="flex flex-col px-4 w-56 justify-center items-center hover:bg-primarycolor/10 transition-all ease-in-out duration-500">
          <div class="font-semibold text-sm sm:text-lg md:text-6xl">206</div>
          <div class="text-[0.6rem] sm:text-xs md:text-lg font-medium text-center">Proyectos completados</div>
        </div>
        <div class="flex flex-col px-4 w-56 justify-center items-center hover:bg-primarycolor/10 transition-all ease-in-out duration-500">
          <div class="font-semibold text-sm sm:text-lg md:text-6xl">870</div>
          <div class="text-[0.6rem] sm:text-sm md:text-lg font-medium text-center">Constructores contratados</div>
        </div>
        <div class="flex flex-col px-7 w-56 justify-center items-center hover:bg-primarycolor/10 transition-all ease-in-out duration-500">
          <div class="font-semibold text-sm sm:text-lg md:text-6xl">26</div>
          <div class="text-[0.6rem] sm:text-xs md:text-lg font-medium text-center">Premios obtenidos</div>
        </div>

      </div>
    </div>
  </section>

  <section id="proyectos" class="w-full h-full bg-white mb-16">
    <div class="text-center text-primarycolor text-4xl md:text-6xl py-12 font-medium">
      <span class="border-b-8 border-secondarycolor" style="line-height: 25px; font-weight: 700;">PROYECTOS</span>
    </div>

    <div class="container mx-auto px-10 md:px-0">
      <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-8">
        @for (proyecto of proyectos; track proyecto) {
          <div class="overflow-hidden rounded-2xl flex justify-center border border-gray-300 hover:shadow-md hover:shadow-secondarycolor/50 ">
            <div class="flex-col w-full">
              <!-- <div class=" relative flex justify-center">
                <img [src]="proyecto.imagen" class="rounded-b-2xl" alt="Imagen-proyecto">
              </div>
              <div class="absolute top-0 text-center px-6 pt-5">
                <p class="text-xl font-semibold">{{proyecto.titulo}}</p>
              </div> -->
              <!-- <div class="relative flex justify-center">
                <img [src]="proyecto.imagen" class="rounded-b-2xl object-cover w-full h-full" alt="Imagen-proyecto">
                <div class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent rounded-b-2xl"></div>
                <div class="absolute bottom-0 left-0 right-0 text-center px-6 pb-5">
                  <p class="text-xl font-semibold text-white">{{ proyecto.titulo }}</p>
                </div>
              </div> -->
              <div class="relative flex justify-start">
                <img [src]="proyecto.imagen" class="rounded-b-2xl object-cover w-full h-full" alt="Imagen-proyecto">
                <div class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent rounded-b-2xl opacity-0 hover:opacity-100 transition-opacity duration-300">
                  <div class="absolute bottom-0 left-0 right-0 text-start px-6 pb-5">
                    <p class="text-lg font-semibold text-white">{{ proyecto.titulo }}</p>
                  </div>
                </div>
              </div>
          </div>
          </div>
        }
      </div>
    </div>
  </section>
  <footer id="contactos" class="w-full h-fit bg-cover bg-gray-100">
    <div class="container mx-auto py-10 flex justify-around">
      <div>
        <div>
          <span class="text-sm md:text-lg font-semibold tracking-wider">Contactos</span>
        </div>
        <div class="flex gap-2 py-2 text-sm xs:text-base">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
          </svg>
          <span>+593999999999</span>
        </div>
        <div class="flex gap-2 py-2 text-sm xs:text-base">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 1 0-2.636 6.364M16.5 12V8.25" />
          </svg>
          <span>emailgmail.com</span>
        </div>
        <div class="flex gap-2 py-2 text-sm xs:text-base">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
          </svg>
          <span>Direccion</span>
        </div>
      </div>
      <!-- <div>
        <div>
          <span class="text-lg font-semibold tracking-wider">Servicios</span>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          @for (servicio of servicios; track servicio) {
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
              </svg>
              <span>{{servicio.titulo}}</span>
            </div>
          }
        </div>
      </div> -->
      <div>
        <div>
          <span class="text-md md:text-lg font-semibold tracking-wider">Redes Sociales</span>
        </div>
        <div class="flex gap-2 py-2 text-xs md:text-base">
          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-brand-facebook">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M18 2a1 1 0 0 1 .993 .883l.007 .117v4a1 1 0 0 1 -.883 .993l-.117 .007h-3v1h3a1 1 0 0 1 .991 1.131l-.02 .112l-1 4a1 1 0 0 1 -.858 .75l-.113 .007h-2v6a1 1 0 0 1 -.883 .993l-.117 .007h-4a1 1 0 0 1 -.993 -.883l-.007 -.117v-6h-2a1 1 0 0 1 -.993 -.883l-.007 -.117v-4a1 1 0 0 1 .883 -.993l.117 -.007h2v-1a6 6 0 0 1 5.775 -5.996l.225 -.004h3z" />
          </svg> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
          </svg>
          <span>Facebook</span>
        </div>
        <div class="flex gap-2 py-2 text-xs md:text-base">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
            <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
            <path d="M16.5 7.5l0 .01" />
          </svg>
          <span>Instagram</span>
        </div>
        <div class="flex gap-2 py-2 text-xs md:text-base">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               class="icon icon-tabler icons-tabler-outline icon-tabler-brand-twitter">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z" />
          </svg>
          <span>Twiter</span>
        </div>
      </div>
    </div>

    <div class="text-center pb-6">
      <p class="text-xs md:text-sm">&copy; <span>2024</span> Construct civil. Todos los derechos reservados.</p>
    </div>

  </footer>

  <router-outlet></router-outlet>
</div>

